(
	fps: 60,
	total_frame: 10,
	timelines: [
		(
			part_info: (
				id: 0,
				part_type: Null,
			),
			key_frames: [
				(),// [0]
				(),// [1]
				(),// [2]
				(),// [3]
				(),// [4]
				(),// [5]
				(),// [6]
				(),// [7]
				(),// [8]
				(),// [9]
			],
		),// [0]
		(
			part_info: (
				id: 1,
				parent: Some(0),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-10, 224, 0),
						rotation: (0, 0, -0.044892956, 0.9989918),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [0]
				(
					transform: (
						translation: (6.5, 231.5, 0),
						rotation: (0, 0, -0.050103523, 0.998744),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [1]
				(
					transform: (
						translation: (23, 239, 0),
						rotation: (0, 0, -0.055312723, 0.99846905),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [2]
				(
					transform: (
						translation: (8, 233, 0),
						rotation: (0, 0, -0.06606554, 0.9978153),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [3]
				(
					transform: (
						translation: (-7, 227, 0),
						rotation: (0, 0, -0.076810695, 0.9970457),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [4]
				(
					transform: (
						translation: (-7.6, 226.40001, 0),
						rotation: (0, 0, -0.070432395, 0.9975166),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [5]
				(
					transform: (
						translation: (-8.200001, 225.80002, 0),
						rotation: (0, 0, -0.0640512, 0.9979466),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [6]
				(
					transform: (
						translation: (-8.799999, 225.20001, 0),
						rotation: (0, 0, -0.057667386, 0.99833584),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [7]
				(
					transform: (
						translation: (-9.4, 224.59999, 0),
						rotation: (0, 0, -0.051281217, 0.9986842),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [8]
				(
					transform: (
						translation: (-10, 224, 0),
						rotation: (0, 0, -0.044892956, 0.9989918),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [9]
			],
		),// [1]
		(
			part_info: (
				id: 2,
				parent: Some(1),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.121348485, 0.99261),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [0]
				(
					transform: (
						translation: (-2.0077324, 47.175694, 1),
						rotation: (0, 0, 0.09554629, 0.995425),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [1]
				(
					transform: (
						translation: (-0.015464544, 47.351387, 1),
						rotation: (0, 0, 0.06967973, 0.99756944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [2]
				(
					transform: (
						translation: (1.9768033, 47.527077, 1),
						rotation: (0, 0, 0.15791823, 0.9874522),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [3]
				(
					transform: (
						translation: (3.969071, 47.70277, 1),
						rotation: (0, 0, 0.24491099, 0.96954554),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [4]
				(
					transform: (
						translation: (2.3752568, 47.562218, 1),
						rotation: (0, 0, 0.22044626, 0.97539914),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [5]
				(
					transform: (
						translation: (0.7814425, 47.421665, 1),
						rotation: (0, 0, 0.19584204, 0.98063546),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [6]
				(
					transform: (
						translation: (-0.81237185, 47.281105, 1),
						rotation: (0, 0, 0.1711139, 0.98525125),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [7]
				(
					transform: (
						translation: (-2.4061859, 47.140556, 1),
						rotation: (0, 0, 0.14627747, 0.9892436),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [8]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.121348485, 0.99261),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [9]
			],
		),// [2]
		(
			part_info: (
				id: 3,
				parent: Some(2),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.0771783, 0.9970173),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [0]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.032487877, 0.99947214),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [1]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, 0.012267628, 0.9999248),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [2]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.07642697, 0.9970752),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [3]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.16451973, 0.9863738),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [4]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.1471318, 0.9891169),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [5]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.12969829, 0.9915535),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [6]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.112224594, 0.99368286),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [7]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.094716124, 0.9955043),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [8]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.0771783, 0.9970173),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [9]
			],
		),// [3]
		(
			part_info: (
				id: 4,
				parent: Some(3),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0, 1),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [0]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, -0.013695334, 0.99990624),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [1]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, -0.0273881, 0.99962485),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [2]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, -0.041075725, 0.99915606),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [3]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.03251627, 0.9994712),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [4]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.10593216, 0.9943734),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [5]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.06423662, 0.9979347),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [6]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.022428567, 0.99974847),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [7]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.011214989, 0.9999371),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [8]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0, 1),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [9]
			],
		),// [4]
		(
			part_info: (
				id: 5,
				parent: Some(2),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.48888284, 0.87234944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [0]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.16679677, 0.9859913),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [1]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, 0.17474674, 0.9846134),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [2]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.42548296, 0.9049664),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [3]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.8697224, 0.49354124),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [4]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.8561546, 0.5167197),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [5]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.84196943, 0.5395253),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [6]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.8271768, 0.56194174),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [7]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.6760854, 0.73682326),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [8]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.48888284, 0.87234944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [9]
			],
		),// [5]
		(
			part_info: (
				id: 6,
				parent: Some(5),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.14195085, 0.9898737),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [0]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.48974168, 0.8718676),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [1]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.77147424, 0.63626057),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [2]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.44566318, 0.8952007),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [3]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.04266204, 0.99908954),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [4]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.06258546, 0.9980396),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [5]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.082483955, 0.9965924),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [6]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.102349624, 0.9947485),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [7]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.12217455, 0.99250865),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [8]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.14195085, 0.9898737),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [9]
			],
		),// [6]
		(
			part_info: (
				id: 7,
				parent: Some(2),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.24469927, 0.969599),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [0]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, -0.10817323, 0.99413204),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [1]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, -0.447511, 0.8942784),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [2]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, -0.1702907, 0.9853939),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [3]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.121430404, 0.99259996),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [4]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.1462996, 0.98924035),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [5]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.17107664, 0.98525774),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [6]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.19574594, 0.98065466),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [7]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.22029197, 0.975434),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [8]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.24469927, 0.969599),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [9]
			],
		),// [7]
		(
			part_info: (
				id: 8,
				parent: Some(7),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.532306, 0.846552),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [0]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.6086979, 0.79340214),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [1]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.67981803, 0.73338085),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [2]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.42317167, 0.90604955),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [3]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.12603553, 0.99202573),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [4]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.21174659, 0.9773246),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [5]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.29585633, 0.95523244),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [6]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.37772867, 0.9259163),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [7]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.4567444, 0.88959795),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [8]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.532306, 0.846552),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [9]
			],
		),// [8]
		(
			part_info: (
				id: 9,
				parent: Some(1),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (40.231804, -10.497314, -3),
						rotation: (0, 0, 0.128114, 0.9917594),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [0]
				(
					transform: (
						translation: (39.03512, -8.246103, -3),
						rotation: (0, 0, 0.14869623, 0.9888829),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [1]
				(
					transform: (
						translation: (37.838432, -5.994892, -3),
						rotation: (0, 0, 0.16921425, 0.9855793),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [2]
				(
					transform: (
						translation: (38.180344, -6.638096, -3),
						rotation: (0, 0, 0.19527835, 0.9807479),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [3]
				(
					transform: (
						translation: (38.522255, -7.2812986, -3),
						rotation: (0, 0, 0.22120525, 0.9752273),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [4]
				(
					transform: (
						translation: (38.864162, -7.9245014, -3),
						rotation: (0, 0, 0.20271876, 0.979237),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [5]
				(
					transform: (
						translation: (39.206074, -8.567705, -3),
						rotation: (0, 0, 0.18415976, 0.9828963),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [6]
				(
					transform: (
						translation: (39.54798, -9.210909, -3),
						rotation: (0, 0, 0.16553482, 0.98620397),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [7]
				(
					transform: (
						translation: (39.889896, -9.854111, -3),
						rotation: (0, 0, 0.14685069, 0.9891587),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [8]
				(
					transform: (
						translation: (40.231804, -10.497314, -3),
						rotation: (0, 0, 0.128114, 0.9917594),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [9]
			],
		),// [9]
		(
			part_info: (
				id: 10,
				parent: Some(9),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.22484301, 0.974395),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [0]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.122047685, 0.99252427),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [1]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.017922604, 0.99983937),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [2]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.047742315, 0.9988597),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [3]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.07751953, 0.99699086),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [4]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.10722773, 0.9942345),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [5]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.13684049, 0.9905931),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [6]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.16633146, 0.9860699),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [7]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.19567432, 0.98066896),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [8]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.22484301, 0.974395),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [9]
			],
		),// [10]
		(
			part_info: (
				id: 11,
				parent: Some(1),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.2488519, 0.96854156),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [0]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.23413531, 0.972204),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [1]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.21936487, 0.9756429),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [2]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.22359028, 0.9746832),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [3]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.22781153, 0.97370523),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [4]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.23202844, 0.972709),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [5]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.23624107, 0.97169447),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [6]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.24044922, 0.9706617),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [7]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.24465287, 0.96961075),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [8]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.2488519, 0.96854156),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [9]
			],
		),// [11]
		(
			part_info: (
				id: 12,
				parent: Some(11),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (6.333332, -91.66667, -7),
						rotation: (0, 0, 0.2832491, 0.95904636),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [0]
				(
					transform: (
						translation: (6.4067364, -97.49716, -7),
						rotation: (0, 0, 0.18407965, 0.98291135),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [1]
				(
					transform: (
						translation: (6.48014, -103.32765, -7),
						rotation: (0, 0, 0.08299499, 0.99654996),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [2]
				(
					transform: (
						translation: (6.459168, -101.6618, -7),
						rotation: (0, 0, 0.18066524, 0.98354465),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [3]
				(
					transform: (
						translation: (6.438195, -99.99594, -7),
						rotation: (0, 0, 0.2765815, 0.9609905),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [4]
				(
					transform: (
						translation: (6.417222, -98.330086, -7),
						rotation: (0, 0, 0.27791607, 0.9606054),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [5]
				(
					transform: (
						translation: (6.39625, -96.66423, -7),
						rotation: (0, 0, 0.27925017, 0.96021837),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [6]
				(
					transform: (
						translation: (6.3752775, -94.99838, -7),
						rotation: (0, 0, 0.28058368, 0.95982957),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [7]
				(
					transform: (
						translation: (6.3543043, -93.33253, -7),
						rotation: (0, 0, 0.2819167, 0.95943886),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [8]
				(
					transform: (
						translation: (6.333332, -91.66667, -7),
						rotation: (0, 0, 0.2832491, 0.95904636),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [9]
			],
		),// [12]
		(
			part_info: (
				id: 13,
				parent: Some(0),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (29.666668, 10.3333435, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.7752808, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [0]
				(
					transform: (
						translation: (34.26667, 11.255566, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.8661048, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [1]
				(
					transform: (
						translation: (38.86667, 12.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.956929, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [2]
				(
					transform: (
						translation: (37.552383, 11.914295, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.9309793, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [3]
				(
					transform: (
						translation: (36.2381, 11.6508045, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.9050295, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [4]
				(
					transform: (
						translation: (34.923813, 11.387312, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.8790796, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [5]
				(
					transform: (
						translation: (33.609528, 11.123819, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.8531301, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [6]
				(
					transform: (
						translation: (32.29524, 10.860328, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.8271804, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [7]
				(
					transform: (
						translation: (30.980955, 10.596836, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.8012305, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [8]
				(
					transform: (
						translation: (29.666668, 10.3333435, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.7752808, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [9]
			],
		),// [13]
	],
)