(
	fps: 60,
	total_frame: 11,
	timelines: [
		(
			part_info: (
				id: 0,
				part_type: Null,
			),
			key_frames: [
				(),// [0]
				(),// [1]
				(),// [2]
				(),// [3]
				(),// [4]
				(),// [5]
				(),// [6]
				(),// [7]
				(),// [8]
				(),// [9]
				(),// [10]
			],
		),// [0]
		(
			part_info: (
				id: 1,
				parent: Some(0),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-15, 301, 0),
						rotation: (0, 0, -0.073323235, 0.99730825),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [0]
				(
					transform: (
						translation: (-33, 244.5, 0),
						rotation: (0, 0, -0.06889903, 0.9976236),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [1]
				(
					transform: (
						translation: (-51, 188, 0),
						rotation: (0, 0, -0.06447347, 0.99791944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [2]
				(
					transform: (
						translation: (-54.33333, 189.66666, 0),
						rotation: (0, 0, -0.06447347, 0.99791944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [3]
				(
					transform: (
						translation: (-57.666664, 191.33334, 0),
						rotation: (0, 0, -0.06447347, 0.99791944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [4]
				(
					transform: (
						translation: (-61, 193, 0),
						rotation: (0, 0, -0.06447347, 0.99791944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [5]
				(
					transform: (
						translation: (-26.1, 194.8, 0),
						rotation: (0, 0, -0.03447939, 0.9994054),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [6]
				(
					transform: (
						translation: (8.799999, 196.6, 0),
						rotation: (0, 0, -0.0044542165, 0.9999901),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [7]
				(
					transform: (
						translation: (-0.6000004, 210.3, 0),
						rotation: (0, 0, -0.024678634, 0.9996954),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [8]
				(
					transform: (
						translation: (-10, 224, 0),
						rotation: (0, 0, -0.044892956, 0.9989918),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [9]
				(
					transform: (
						translation: (-10, 224, 0),
						rotation: (0, 0, -0.044892956, 0.9989918),
						scale: (1, 1, 1),
					),
					cell: Some((0, 2)),
				),// [10]
			],
		),// [1]
		(
			part_info: (
				id: 2,
				parent: Some(1),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.121348485, 0.99261),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [0]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.12202706, 0.99252677),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [1]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.122705586, 0.99244314),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [2]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.14783613, 0.9890119),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [3]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.17287159, 0.98494434),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [4]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.19779582, 0.98024327),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [5]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.263159, 0.9647525),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [6]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.32733473, 0.94490844),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [7]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.22560589, 0.97421867),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [8]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.121348485, 0.99261),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [9]
				(
					transform: (
						translation: (-4, 47, 1),
						rotation: (0, 0, 0.121348485, 0.99261),
						scale: (1, 1, 1),
					),
					cell: Some((0, 1)),
				),// [10]
			],
		),// [2]
		(
			part_info: (
				id: 3,
				parent: Some(2),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.0771783, 0.9970173),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [0]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, 0.011043043, 0.999939),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [1]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, 0.099178344, 0.9950697),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [2]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, 0.06697419, 0.9977547),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [3]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, 0.034700114, 0.99939775),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [4]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, 0.0023897914, 0.99999714),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [5]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.034845587, 0.9993927),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [6]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.072032645, 0.99740225),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [7]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.074605726, 0.9972131),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [8]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.0771783, 0.9970173),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [9]
				(
					transform: (
						translation: (12.666668, 165, 1),
						rotation: (0, 0, -0.0771783, 0.9970173),
						scale: (1, 1, 1),
					),
					cell: Some((0, 0)),
				),// [10]
			],
		),// [3]
		(
			part_info: (
				id: 4,
				parent: Some(3),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0, 1),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [0]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.020517241, 0.9997895),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [1]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.041025843, 0.9991581),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [2]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.06151717, 0.998106),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [3]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.08198261, 0.99663377),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [4]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.042268857, 0.9991063),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [5]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0.0024881868, 0.9999969),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [6]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, -0.037296418, 0.99930423),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [7]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, -0.018651454, 0.9998261),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [8]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0, 1),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [9]
				(
					transform: (
						translation: (-5.666668, 147, -11),
						rotation: (0, 0, 0, 1),
						scale: (1, 1, 1),
					),
					cell: Some((0, 9)),
				),// [10]
			],
		),// [4]
		(
			part_info: (
				id: 5,
				parent: Some(2),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.34291735, 0.93936557),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [0]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.22379175, 0.974637),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [1]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.10121194, 0.9948649),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [2]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.10121194, 0.9948649),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [3]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.10121194, 0.9948649),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [4]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.10121194, 0.9948649),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [5]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.20233467, 0.9793164),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [6]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.30133945, 0.9535169),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [7]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.39718994, 0.9177364),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [8]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.48888284, 0.87234944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [9]
				(
					transform: (
						translation: (-28.99597, 101.9103, -9),
						rotation: (0, 0, -0.48888284, 0.87234944),
						scale: (1, 1, 1),
					),
					cell: Some((0, 8)),
				),// [10]
			],
		),// [5]
		(
			part_info: (
				id: 6,
				parent: Some(5),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.16506799, 0.98628217),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [0]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.3590788, 0.93330723),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [1]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.53856605, 0.8425833),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [2]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.5152288, 0.8570527),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [3]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.49150315, 0.8708758),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [4]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.4674068, 0.8840423),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [5]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.38976315, 0.9209151),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [6]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.3092398, 0.9509841),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [7]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.22643179, 0.97402704),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [8]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.14195085, 0.9898737),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [9]
				(
					transform: (
						translation: (25, -76, -10),
						rotation: (0, 0, -0.14195085, 0.9898737),
						scale: (1, 1, 1),
					),
					cell: Some((0, 7)),
				),// [10]
			],
		),// [6]
		(
			part_info: (
				id: 7,
				parent: Some(2),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.36050916, 0.93275565),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [0]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.23198871, 0.9727185),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [1]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.09926593, 0.9950609),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [2]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.09926593, 0.9950609),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [3]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.09926593, 0.9950609),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [4]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.09926593, 0.9950609),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [5]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.13595231, 0.9907154),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [6]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.17245317, 0.9850177),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [7]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.20871863, 0.9779757),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [8]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.24469927, 0.969599),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [9]
				(
					transform: (
						translation: (53, 104, 6),
						rotation: (0, 0, 0.24469927, 0.969599),
						scale: (1, 1, 1),
					),
					cell: Some((0, 6)),
				),// [10]
			],
		),// [7]
		(
			part_info: (
				id: 8,
				parent: Some(7),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.67981803, 0.73338085),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [0]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.6798181, 0.7333808),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [1]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.6798181, 0.7333808),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [2]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.67981803, 0.73338085),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [3]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.67981803, 0.73338085),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [4]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.67981803, 0.73338085),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [5]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.6449565, 0.7642192),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [6]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.6086979, 0.79340214),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [7]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.57112056, 0.8208662),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [8]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.532306, 0.846552),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [9]
				(
					transform: (
						translation: (27, -76, 5),
						rotation: (0, 0, -0.532306, 0.846552),
						scale: (1, 1, 1),
					),
					cell: Some((0, 10)),
				),// [10]
			],
		),// [8]
		(
			part_info: (
				id: 9,
				parent: Some(1),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (40.231804, -10.497314, -3),
						rotation: (0, 0, 0.05593647, 0.9984343),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [0]
				(
					transform: (
						translation: (39.03512, -8.246103, -3),
						rotation: (0, 0, -0.34078494, 0.94014126),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [1]
				(
					transform: (
						translation: (37.838432, -5.994892, -3),
						rotation: (0, 0, -0.6827129, 0.7306867),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [2]
				(
					transform: (
						translation: (37.838432, -5.994892, -3),
						rotation: (0, 0, -0.57724833, 0.8165687),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [3]
				(
					transform: (
						translation: (37.838432, -5.994892, -3),
						rotation: (0, 0, -0.46110564, 0.88734525),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [4]
				(
					transform: (
						translation: (37.838432, -5.994892, -3),
						rotation: (0, 0, -0.33643314, 0.9417074),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [5]
				(
					transform: (
						translation: (38.436775, -7.1204977, -3),
						rotation: (0, 0, -0.22332884, 0.9747432),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [6]
				(
					transform: (
						translation: (39.03512, -8.246103, -3),
						rotation: (0, 0, -0.10712387, 0.9942457),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [7]
				(
					transform: (
						translation: (39.63346, -9.371709, -3),
						rotation: (0, 0, 0.010568433, 0.99994415),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [8]
				(
					transform: (
						translation: (40.231804, -10.497314, -3),
						rotation: (0, 0, 0.128114, 0.9917594),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [9]
				(
					transform: (
						translation: (40.231804, -10.497314, -3),
						rotation: (0, 0, 0.128114, 0.9917594),
						scale: (1, 1, 1),
					),
					cell: Some((0, 12)),
				),// [10]
			],
		),// [9]
		(
			part_info: (
				id: 10,
				parent: Some(9),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.13661341, 0.9906244),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [0]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.4965746, 0.86799407),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [1]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.78472596, 0.6198428),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [2]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.78472596, 0.6198429),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [3]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.78472596, 0.6198428),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [4]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.78472596, 0.6198428),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [5]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.66938895, 0.7429121),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [6]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.5350086, 0.8448466),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [7]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.385408, 0.92274624),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [8]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.22484301, 0.974395),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [9]
				(
					transform: (
						translation: (23.666656, -92.66667, -4),
						rotation: (0, 0, 0.22484301, 0.974395),
						scale: (1, 1, 1),
					),
					cell: Some((0, 5)),
				),// [10]
			],
		),// [10]
		(
			part_info: (
				id: 11,
				parent: Some(1),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.3016105, 0.95343125),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [0]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.36822224, 0.9297378),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [1]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.4329934, 0.9013971),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [2]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.4329934, 0.9013971),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [3]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.4329934, 0.9013971),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [4]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.4329934, 0.9013971),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [5]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.48682445, 0.8734998),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [6]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.5388659, 0.84239155),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [7]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.39887753, 0.9170042),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [8]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.2488519, 0.96854156),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [9]
				(
					transform: (
						translation: (-27.101524, -11.830658, -6),
						rotation: (0, 0, -0.2488519, 0.96854156),
						scale: (1, 1, 1),
					),
					cell: Some((0, 3)),
				),// [10]
			],
		),// [11]
		(
			part_info: (
				id: 12,
				parent: Some(11),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (9.015714, -101.36998, -7),
						rotation: (0, 0, 0.80841655, 0.5886108),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [0]
				(
					transform: (
						translation: (8.717671, -100.29184, -7),
						rotation: (0, 0, 0.8108016, 0.58532107),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [1]
				(
					transform: (
						translation: (8.419629, -99.21369, -7),
						rotation: (0, 0, 0.81317323, 0.5820217),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [2]
				(
					transform: (
						translation: (8.121586, -98.13554, -7),
						rotation: (0, 0, 0.7966616, 0.6044256),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [3]
				(
					transform: (
						translation: (7.8235445, -97.0574, -7),
						rotation: (0, 0, 0.77953297, 0.6263612),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [4]
				(
					transform: (
						translation: (7.5255017, -95.97925, -7),
						rotation: (0, 0, 0.76180047, 0.6478117),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [5]
				(
					transform: (
						translation: (7.227459, -94.90111, -7),
						rotation: (0, 0, 0.6716986, 0.7408246),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [6]
				(
					transform: (
						translation: (6.929417, -93.82297, -7),
						rotation: (0, 0, 0.57033247, 0.82141393),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [7]
				(
					transform: (
						translation: (6.6313744, -92.74481, -7),
						rotation: (0, 0, 0.4323032, 0.90172833),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [8]
				(
					transform: (
						translation: (6.333332, -91.66667, -7),
						rotation: (0, 0, 0.2832491, 0.95904636),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [9]
				(
					transform: (
						translation: (6.333332, -91.66667, -7),
						rotation: (0, 0, 0.2832491, 0.95904636),
						scale: (1, 1, 1),
					),
					cell: Some((0, 4)),
				),// [10]
			],
		),// [12]
		(
			part_info: (
				id: 13,
				parent: Some(0),
				part_type: Normal,
			),
			key_frames: [
				(
					transform: (
						translation: (-7.1333313, 22.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (0.9228464, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0)),
				),// [0]
				(
					transform: (
						translation: (-12.133331, 20.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.2262173, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.25)),
				),// [1]
				(
					transform: (
						translation: (-17.133331, 18.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.5295882, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [2]
				(
					transform: (
						translation: (-21.133331, 18.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.5295882, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [3]
				(
					transform: (
						translation: (-25.133331, 18.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.5295882, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [4]
				(
					transform: (
						translation: (-29.133331, 18.177788, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.5295882, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [5]
				(
					transform: (
						translation: (-14.4333315, 16.216677, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.5910114, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [6]
				(
					transform: (
						translation: (0.26666832, 14.255566, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.6524346, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [7]
				(
					transform: (
						translation: (14.966667, 12.294455, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.7138577, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [8]
				(
					transform: (
						translation: (29.666668, 10.3333435, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.7752808, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [9]
				(
					transform: (
						translation: (29.666668, 10.3333435, -12),
						rotation: (0, 0, 0, 1),
						scale: (1.7752808, 1.9084964, 1),
					),
					cell: Some((0, 11)),
					color: ((1, 1, 1, 0.5)),
				),// [10]
			],
		),// [13]
	],
)