(
	texture_width: 1024,
	texture_height: 1024,
	sprites: [
		(
			x: 256,
			y: 0,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [0]
		(
			x: 256,
			y: 64,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [1]
		(
			x: 128,
			y: 0,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [2]
		(
			x: 0,
			y: 128,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [3]
		(
			x: 0,
			y: 192,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [4]
		(
			x: 0,
			y: 256,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [5]
		(
			x: 64,
			y: 128,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [6]
		(
			x: 128,
			y: 128,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [7]
		(
			x: 192,
			y: 128,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [8]
		(
			x: 256,
			y: 128,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [9]
		(
			x: 128,
			y: 64,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [10]
		(
			x: 0,
			y: 0,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [11]
		(
			x: 0,
			y: 64,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [12]
		(
			x: 64,
			y: 0,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [13]
		(
			x: 64,
			y: 64,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [14]
		(
			x: 192,
			y: 0,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [15]
		(
			x: 192,
			y: 64,
			width: 64,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [16]
	],
)