#![enable(implicit_some)]
(
    entities: [
        (
            data: (
                transform: (
                    translation: (-200., 0., 0.),
                    scale: (-1, 1, 1.0)
                ),
                direction: Right,
                player_tag: P1,
                skill_set: (
                    neutral: Stance,
                    skills: {
                        Walk: Walk,
                        Back: Back,
                        // Dash: Run,
                        // Crouch: Sit,
                        // BackCrouch: Sit,
                        // FrontCrouch: Sit,
                        A: Punch,
                        // B: Kick1,
                        // C: Punch2,
                        // D: Kick2,
                    },
                ),
            ),
        ),
    ],
)