#![enable(implicit_some)]
(
    entities: [
        (
            data: (
                transform: (
                    translation: (-200., -200., 0.),
                    scale: (-0.5, 0.5, 1.0)
                ),
                direction: Right,
                player_tag: P1,
                skill_set: (
                    neutral: Stance,
                    skills: {
                        Walk: Walk,
                        Dash: Run,
                        Crouch: Sit,
                        BackCrouch: Sit,
                        FrontCrouch: Sit,
                        A: Punch1,
                        B: Kick1,
                        C: Punch2,
                        D: Kick2,
                    },
                ),
            ),
        ),
    ],
)