List((
	texture_width: 1024,
	texture_height: 1024,
	sprites: [
		(
			x: 0,
			y: 0,
			width: 1024,
			height: 222,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [0]
		(
			x: 0,
			y: 224,
			width: 1024,
			height: 200,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [1]
		(
			x: 0,
			y: 424,
			width: 1024,
			height: 184,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [2]
		(
			x: 0,
			y: 608,
			width: 1024,
			height: 146,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [3]
		(
			x: 0,
			y: 758,
			width: 798,
			height: 162,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [4]
		(
			x: 0,
			y: 918,
			width: 340,
			height: 40,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [5]
	],
))