List((
	texture_width: 1024,
	texture_height: 1024,
	sprites: [
		(
			x: 9,
			y: 20,
			width: 319,
			height: 331,
			offsets: Some((6.5, -80.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [0]
		(
			x: 18,
			y: 366,
			width: 333,
			height: 325,
			offsets: Some((-11.500001, -57.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [1]
		(
			x: 17,
			y: 705,
			width: 334,
			height: 307,
			offsets: Some((-7.0000005, 48.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [2]
		(
			x: 353,
			y: 115,
			width: 158,
			height: 184,
			offsets: Some((20, 38)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [3]
		(
			x: 366,
			y: 321,
			width: 164,
			height: 222,
			offsets: Some((15.999999, 62.000004)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [4]
		(
			x: 557,
			y: 321,
			width: 146,
			height: 222,
			offsets: Some((-16, 58.999996)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [5]
		(
			x: 366,
			y: 558,
			width: 177,
			height: 188,
			offsets: Some((-33.5, 24)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [6]
		(
			x: 737,
			y: 556,
			width: 122,
			height: 211,
			offsets: Some((-1.9999999, 66.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [7]
		(
			x: 366,
			y: 758,
			width: 177,
			height: 189,
			offsets: Some((-35.5, 22.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [8]
		(
			x: 716,
			y: 9,
			width: 299,
			height: 534,
			offsets: Some((-3.5, 144)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [9]
		(
			x: 869,
			y: 556,
			width: 122,
			height: 211,
			offsets: Some((-3.9999998, 67.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [10]
		(
			x: 365,
			y: 961,
			width: 178,
			height: 51,
			offsets: Some((0, 0.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [11]
		(
			x: 545,
			y: 115,
			width: 158,
			height: 184,
			offsets: Some((-25, 38)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [12]
		(
			x: 553,
			y: 780,
			width: 438,
			height: 230,
			offsets: Some((124, 62)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [13]
		(
			x: 369,
			y: 9,
			width: 318,
			height: 96,
			offsets: Some((33, -23)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [14]
		(
			x: 553,
			y: 556,
			width: 174,
			height: 211,
			offsets: Some((0, -9.5)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [15]
	],
))