List((
	texture_width: 256,
	texture_height: 256,
	sprites: [
		(
			x: 97,
			y: 175,
			width: 62,
			height: 64,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [0]
		(
			x: 0,
			y: 81,
			width: 64,
			height: 59,
			offsets: Some((0, 0)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [1]
		(
			x: 0,
			y: 178,
			width: 79,
			height: 78,
			offsets: Some((1.4999999, -35)),
			flip_horizontal: false,
			flip_vertical: false,
		),// [2]
	],
))